<div class="flex justify-center items-center h-screen">
    <div class="bg-red-500 p-6 rounded-lg shadow-md">
      <div class="mb-4">
        <label for="todoItem" class="block text-lg font-bold mb-2">Todo Item</label>
        <input type="text" name="todoItem" id="todoItem" class="w-full border rounded py-2 px-3 focus:outline-none focus:border-blue-400" [formControl]="itemName"/>
        <button class="mt-2 bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded" (click)="pushItemToList()">Add</button>
      </div>
  
      <div>
        <ol>
          @for (item of todoList; track item){
            <li class="py-1 font-bold">{{item}}</li>
          }
        </ol>
      </div>
    </div>
  </div>